
*{
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

/*----------------------------------navigation------------------------------------*/

.nav a {
  text-decoration: none;
  color: #2B2D42;
}

.nav {
    background: #D6EBF3;
    float: left;
    left: 0;
    display: inline;
    width: 100%;
    height: 65px;
    /*font-size: 1.8rem;*/

}

.nav .active{
    float: left;
    font-weight: bold;
    font-size: 1.5em
}

.nav ul {
  text-align: right;
  list-style-type: none;
  margin-right: 25px;
}

.nav li {
    padding: 15px 15px 20px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: black;
}

.nav a {
  /*position: relative;*/
  padding: 1rem;
  /*display: inline-block;*/
}

.logo img{
    float:right;
    height: 450px;
    margin-right: 250px;

    }


/*------------------------------------------------------------------------------*/
