@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nothing+You+Could+Do|Sacramento');

/*
font-family: 'Nothing You Could Do', cursive;
font-family: 'Homemade Apple', cursive;*/


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #383838;
}


.nav{
    height: 10vh;
    width: 100%;
    background-color: white;
    z-index: 100;
    opacity: 0.9;
    position: fixed;
}

.menu {
  list-style: none;
  margin: 0 auto;

}

.name_title {
  float: left;
  text-align: center;
  font-weight: normal;
  padding-bottom: 35px;
  font-size: 1.5em;
  color: #C74A4F;
  padding-top: 20px;
  padding-left: 10px;

}


ul a {
  display: block;
  padding-right: 10px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  color: #282828;
  text-decoration: none;
  float: right;

}

ul a:hover {
  text-decoration: none;
  color: #C74A4F;
}

.nav li {
    float: right;
    list-style: none;
    padding: 25px 2vw;
}

.menu li:first-child{
    padding-right: 0 !important; /*important overrides media queries*/
}

.logo{
    background-image: url('../images/logocopy.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.intro{
    font-size: 15px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    color: #C74A4F;
    z-index: 0;
    position: absolute;
    bottom: 250px;
    left: 100px;

}
.about, .projects, .contact{
    color: #282828;
}

.about{
    max-width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.profile{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 1.7em;
}

.skills{
    display: inline-block;
    width: 100%;
    margin:auto;
    padding-left: 85px;
    padding-right: 75px;

}
.projects_title{
    padding-left: 22px;
}

.tic_tac_toe{
    padding-top: 15px;
}

.projects{
    width: 100%;
    padding: 90px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.class_project{
    padding:10px;
}

.git{
    width: 70px;
    height: 30px;
    align-items: center;
    margin-left: 130px;
}

.contact-wrapper{
    width: 100%;
    background-color: #f5f7fa;
}

.contact{
    height: 400px;
    text-align: center;
    max-width: 1100px;
    margin: auto;
    padding: 50px 50px 25px;
}

.img{
    padding: 30px;
}

.imgskills{
    padding: 10px;

}

.imgskills_padding{
    padding: 0px;

}

.connect{
    margin-top: 20px;
    padding: 20px;
}



/*---------------------------------------------------------
  M E D I A   Q U E R I E S
----------------------------------------------------------- */

@media only screen and (max-width: 500px) {

  .hamburger {
    cursor: pointer;
    padding: 15px;
    float:right;
    display: block;
    height: 75px;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count: 3;
  }

  .line {
    border-bottom: 4px solid #C74A4F;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
      width:100%;
  }

  .menu {
      position: relative;
      left: 80px;
      top: 50px;
      height: 0;
      display: none;
      overflow: hidden;
      transition: height 0.3s linear;
  }

  .open{
      display: block;
      height: 500px;
      width: 150px;
  }

  .li_mobile{
      float: none !important;
      text-align: center;
  }

  .a_mobile{
      text-align: center;
  }

  .menu li:first-child{
      padding-right: 2vw !important; /*important overrides media queries*/
  }

  .img{
      padding: 5px;
  }
  .imgskills, .imgskills_padding{
      padding: 0;
  }

  .class_project{
      padding:5px;
  }

}
