@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nothing+You+Could+Do|Sacramento');

/*
font-family: 'Nothing You Could Do', cursive;
font-family: 'Homemade Apple', cursive;*/


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #383838;
}

ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
}

.active {
  padding: 0;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
  font-size: 3.5em;
  color: #C74A4F;
  margin: 0;
}

ul a {
  display: block;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #383838;
  text-decoration: none;
}

ul a:hover {
  text-decoration: none;
  color: #C74A4F;
}

nav li {
    float: right;
  width: 33%;
}

#logo{
    background-image: url('../images/logocopy.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.intro{
    font-size: 20px;
    z-index: 100;
    position: absolute;
    bottom: 300px;
    left: 50px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    color: white;
}

.container{
    margin-top: 50px;
    margin-bottom: 100px;
}

.row{
    margin-top: 50px;
    max-width: : 1000px;

}

/*.menu {
     width: 100%;
     display: flex;
     align-items: center;
     float: right;
     padding: 5px;
 }*/

/*---------------------------------------------------------
  M E D I A   Q U E R I E S
----------------------------------------------------------- */

/*.img {
    height: 6vw;
    weight: 6vw;
}*/

.contact{
    text-align: center;

}

/*.project{
    height: 20vw;
}*/

.connect{
    margin-top: 20px;
}

@media only screen and (max-width: 580px) {

  .hamburger {
    margin-left: 42.5%;
    cursor: pointer;
    padding: 15px;
    display: block;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count: 3;
  }

  .line {
    border-bottom: 4px solid #C74A4F;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
      width:100%;
  }

  .menu {
      display: none;
      overflow: hidden;
  }
  .display{
      display: block;
  }
  .open{
      height: 295px;
  }
}
