@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nothing+You+Could+Do|Sacramento');


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #383838;
}

.nav{
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    overflow: hidden;
}

.menu {
  list-style: none;
  margin: 0 auto;
}

.name_title {
  float: left;
  text-align: center;
  font-weight: normal;
  padding-bottom: 35px;
  font-size: 1.2em;
  color: #C74A4F;
  padding-top: 20px;
  padding-left: 10px;

}

ul a {
  display: block;
  padding-right: 10px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  color: #282828;
  text-decoration: none;
  float: right;
}

ul a:hover {
  text-decoration: none;
  color: #C74A4F;
}

.nav li {
    float: right;
    list-style: none;
    padding: 25px 2vw;
}

.menu li:first-child{
    padding-right: 100;
}

.logo{
    position: relative;
    background-image: url('../images/logocopy.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100;
}

.intro{
    font-size: 2.5em;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    color: #C74A4F;
    z-index: 0;
    position: absolute;
    bottom: 300px;
    left: 70px;
}

.greeting{
    font-size: 15px;
}

.about, .projects, .contact{
    color: #282828;
}

.about{
    max-width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

.profile{
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 1.7em;
}

.skills{
    display: inline-block;
    width: 100%;
    margin:auto;
    padding-left: 85px;
    padding-right: 75px;

}

/*------------------------------Projects Section-----------------------------*/


.projects_title{
    padding-left: 22px;
}

/*.tic_tac_toe{
    padding-top: 15px;
}*/

.projects{
    clear: left;
    text-align: center;
    color: black;
    margin-top: 50px;
}

.projects .project{
    width: 300px;
    display: inline-block;
    height: 375px;
    margin: 15px;
    /*border-radius: 10px;
    border: 1px solid black;*/
}


.project a div {
    width: 300px;
    height: 300px;
}

.project-image {
  width:300px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project-description {
  width: 300px;
  height: 65px;
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 0px;
}

.project-description button {
  background-color:   #DCDCDC;
  color: black;
  padding: 5px 10px;
  margin: 8px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.project-description a {
  text-decoration: none;
}

#project1{
    background-image: url("../images/tic-tac-toe.png");
    /*background-size: 100% 100%;*/
}

#project2{
    background-image: url("../images/blackjack.png");
    /*background-size: 100% 100%;*/
}

#project3{
    background-image: url("../images/smarta.png");
    /*background-size: 100% 100%;*/
}


/*-----------------------------Contact Section------------------------------------*/

.contact-wrapper{
    width: 100%;
    height: 400px;
    text-align: center;
    margin: auto;
    padding: 50px 50px 25px;
}


.img{
    padding: 30px;
}

.imgskills{
    padding: 10px;
}

.imgskills_padding{
    padding: 0px;
}

.connect{
    margin-top: 20px;
    padding: 30px;
}



/*---------------------------------------------------------
  M E D I A   Q U E R I E S
----------------------------------------------------------- */

@media only screen and (max-width: 530px) {

  /*.hamburger {
    cursor: pointer;
    padding: 15px;
    float:right;
    height: 75px;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count: 3;
  }

  .line {
    border-bottom: 4px solid #C74A4F;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
      width:100%;
  }

  .menu {
      position: relative;
      z-index: 100 !important;
      left: 80px;
      top: 50px;
      height: 0;
      display: none;
      overflow: hidden;
      transition: height 0.3s linear;
      opacity: 0.99;
  }*/

  .open{
      display: block;
      height: 500px;
      width: 150px;
  }

  .li_mobile{
      float: none !important;
      text-align: center;
  }

  .a_mobile{
      text-align: center;
  }

  .menu li:first-child{
      padding-right: 2vw !important; /*important overrides media queries*/
  }

  .img{
      padding: 5px;
  }
  .imgskills, .imgskills_padding{
      padding: 0;
  }

  .project{
      padding:5px;
  }

}
